.octahedron{
  position: absolute;
  top:0vh;
  left:0vw;
  display: flex;
  height: 103vh !important;
  justify-content: center;
  z-index: 0;
}

.title-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Starway_font';
  z-index: 1;
  padding-left: 2vw;;
}

.text-anim{
  color:violet;
  opacity:0.9;
  text-align: center;
  margin-top:25px;
}

/* スマホ縦画面 */
@media screen and (max-width: 576px) {
  .title-box__text-size{
    font-size: 1.3em;
  }
}

/* タブレット画面(スマホファースト), 小さいスマホの横画面 */
@media screen and (min-width: 576px) and (max-width: 850px) {
  .title-box__text-size{
    font-size: 1.5em;
  }
}

/* スマホ横画面*/
@media screen and (min-width: 850px) and (max-width: 1000px) {
  .title-box__text-size{
    font-size: 2em;
  }
}

/* タブレット横画面*/
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .title-box__text-size{
    font-size: 2.5em;
  }
}

/* PC画面 */
@media screen and (min-width: 1300px) and (max-width: 1800px) {
  .title-box__text-size{
    font-size: 3em;
  }
}

/* PC全画面 */
@media screen and (min-width: 1800px) {
  .title-box__text-size{
    font-size: 3.5em;
  }
}