.text-anim{
  background: linear-gradient(to right, hsl(0, 100%, var(--brightness)), hsl(30, 100%, var(--brightness)), hsl(60, 100%, var(--brightness)), hsl(120, 100%, var(--brightness)), hsl(240, 100%, var(--brightness)), hsl(270, 100%, var(--brightness)), hsl(300, 100%, var(--brightness)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.octahedron{
  position: absolute;
  z-index: 0;
}

/* スマホ縦画面 */
@media screen and (max-width: 576px) {
  .title-box{
    position: absolute;
    margin-top:300px;
    margin-left:160px;
    text-align: center;
    font-size: 2em;
    font-family: 'AngelicAlchemy';
    z-index: 1;
  }
}

/* タブレット画面 */
@media screen and (min-width: 576px) and (max-width: 850px) {
  .title-box{
    position: absolute;
    margin-top:358px;
    margin-left:318px;
    text-align: center;
    font-size: 3.5em;
    font-family: 'AngelicAlchemy';
    z-index: 1;
  }
}

/* スマホ横画面*/
@media screen and (min-width: 850px) and (max-width: 1000px) {
  .title-box{
    position: absolute;
    margin-top:50px;
    margin-left:406px;
    text-align: center;
    font-size: 2em;
    font-family: 'AngelicAlchemy';
    z-index: 1;
  }
}

/* タブレット横画面*/
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .title-box{
    position: absolute;
    margin-top:93px;
    margin-left:568px;
    text-align: center;
    font-size: 3.5em;
    font-family: 'AngelicAlchemy';
    z-index: 1;
  }
}

/* PC画面 */
@media screen and (min-width: 1300px) and (max-width: 1800px) {
  .title-box{
    position: absolute;
    margin-top:187px;
    margin-left:584px;
    text-align: center;
    font-size: 2.5em;
    font-family: 'AngelicAlchemy';
    z-index: 1;
  }
}

/* PC全画面 */
@media screen and (min-width: 1800px) {
  .title-box{
    position: absolute;
    margin-top:200px;
    margin-left:867px;
    text-align: center;
    font-size: 3.5em;
    font-family: 'AngelicAlchemy';
    z-index: 1;
  }
}