.octahedron{
  position: absolute;
  top:0vh;
  left:0vw;
  display: flex;
  height: 103vh !important;
  width:100vw !important;
  justify-content: center;
  z-index: 0;
}

.title-box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  height: 100vh;
  font-family: 'Starway_font';
  z-index: 1;
  margin-top: 1rem;
  margin-right:0.1rem;
}

.text-anim{
  color:var(--title_text-color);
  opacity:0.9;
  text-align: center;
  margin-top:25px;
  text-shadow: -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
  0 0 2rem var(--title_text-color),
  0 0 4rem var(--title_text-color),
  0 0 6rem var(--title_text-color),
  0 0 8rem var(--title_text-color),
  0 0 10rem var(--title_text-color);
}

/* スマホ縦画面 */
@media screen and (max-width: 576px) {
  .title-box__text-size{
    font-size: 1.3em;
  }
}

/* タブレット画面(スマホファースト), 小さいスマホの横画面 */
@media screen and (min-width: 576px) and (max-width: 850px) {
  .title-box__text-size{
    font-size: 1.5rem;
  }
}

/* スマホ横画面*/
@media screen and (min-width: 850px) and (max-width: 1000px) {
  .title-box__text-size{
    font-size: 2rem;
  }
}

/* タブレット横画面*/
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .title-box__text-size{
    font-size: 2.5rem;
  }
  .text-anim:hover{
    font-size: 2.4rem;;
  }
}

/* PC画面 */
@media screen and (min-width: 1300px) and (max-width: 1800px) {
  .title-box__text-size{
    font-size: 3rem;
  }
  .text-anim:hover{
    font-size: 2.9rem;;
  }
}

/* PC全画面 */
@media screen and (min-width: 1800px) {
  .title-box__text-size{
    font-size: 3.5rem;
  }
  .text-anim:hover{
    font-size: 3.4rem;;
  }
}